---
---
.background {
  position: fixed;
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  margin: 0;
  size: cover;
}


@import "jekyll-theme-minimal";
/*
html {
  margin: 0;
  /* The image used 
  background-image: url("/assets/snowscape2.jpg");

  /* Full height 
  height: 100%; 

  /* Center and scale the image nicely 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
*/
body {
  background-color: transparent;
}
section {
    background-color: #ffffff69;
    color: black;
    //text-shadow: 1px 1px 12px black;
}


