---
---

@import "jekyll-theme-minimal";

html {
  margin: 0;
  /* The image used */
  background-image: url("/assets/snowscape2.jpg");

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
body {
  background-color: transparent;
}
section {
    background-color: #ffffff69;
    color: black;
    text-shadow: 1px 1px 12px black;
}

.background {
  position: fixed;
}
