---
---

@import "{{ site.theme }}";

@font-face {
  font-family: 'Product Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'),
       local('OpenSans'),
       url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2)
       format('woff2');
}

body {
  background-color: transparent; 
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 10% 10% 10% 10%;
  font-family: Product Sans;
}

section { 
  border-radius: 25px;
  padding: 5%;
}
/*
html {
  margin: 0;
  /* The image used 
  background-image: url("/assets/snowscape2.jpg");

  /* Full height 
  height: 100%; 

  /* Center and scale the image nicely 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
*/

section {
    background-color: rgba(255, 255, 255, 0.7);
    color: black;
    //text-shadow: 1px 1px 12px black;
}
img.background {
  position: fixed;
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  margin: 0;
  object-fit: cover;
}

.directory {
  background-color: #ffffff3b;
  color: black;
}
blockquote {
  font-style: normal;
}
